body {
    box-sizing: border-box;
    background-color: black;

}
.container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

#score-bar{
    width: 800px;
    height: 50px;
    background-color: gray;

}
.table{
    width: 800px;
    height: 500px;
    background-color: aqua;
    align-items: normal;
    position: relative;
    overflow-x: hidden;

}

#left-player {
    border-left: 20px solid indianred;
    height: 120px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto 0;
}

#right-player {
    border-right: 20px solid indianred;

    height: 120px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: auto 0;
}

/*#ball {
    display: block;
    width: 30px;
    height: 30px;
    margin: 30px auto 0;
    background-color: darkviolet;
    border-radius: 50%;


}*/