body {
    box-sizing: border-box;
    background-image: url("static/board_wallpaper.jpg");
    background-color: rgb(37, 34, 34);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.inner-container {
    margin-left: auto;
    margin-right: auto;
}

#score-bar{
    width: 800px;
    height: 50px;
    background-color: gray;

}
.table{
    width: 800px;
    height: 500px;
    background-color: rgba(75, 72, 72, 0);
    align-items: normal;
    position: relative;

    border-style: solid;
    border-color: white;

}

#left-player {
    border-left: 20px solid indianred;
    height: 120px;
    position: absolute;
    top: 0px;
    left: 0px;

}

#right-player {
    border-right: 20px solid indianred;

    height: 120px;
    position: absolute;
    top: 0px;
    right: 0px;

}

